body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:602px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:11px;
  width:122px;
  height:37px;
  font-size:28px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:151px;
  width:329px;
  height:240px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:198px;
  width:44px;
  height:18px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:232px;
  width:44px;
  height:18px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:195px;
  width:109px;
  height:24px;
}
#u251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:229px;
  width:109px;
  height:24px;
}
#u252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:263px;
  width:103px;
  height:16px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u254_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:263px;
  width:100px;
  height:16px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u255_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:306px;
  width:87px;
  height:16px;
}
#u256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:306px;
  width:100px;
  height:16px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u257_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:49px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:401px;
  width:178px;
  height:49px;
  font-size:18px;
  color:#0000FF;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:174px;
  word-wrap:break-word;
}
