body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:468px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:17px;
  width:329px;
  height:51px;
  font-size:18px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:325px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:78px;
  width:187px;
  height:32px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:125px;
  width:127px;
  height:34px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:125px;
  width:127px;
  height:34px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:186px;
  width:300px;
  height:25px;
}
#u218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:221px;
  width:300px;
  height:25px;
}
#u219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:256px;
  width:300px;
  height:25px;
}
#u220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:307px;
  width:80px;
  height:28px;
}
#u221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:307px;
  width:80px;
  height:28px;
}
#u222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:76px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:345px;
  width:5px;
  height:61px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:76px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:345px;
  width:5px;
  height:61px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:416px;
  width:94px;
  height:23px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:416px;
  width:118px;
  height:33px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:359px;
  width:118px;
  height:33px;
  color:#0000FF;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
